@import "_reset";
@import "variables";

body {
  font-family: 'Fira Sans', sans-serif;
}

.page {
  width: $full-width;
  background-color: #121212;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.half-top {
  width: 100%;
  // background-color: tomato;
}

.half-bottom {
  width: 100%;
  // background-color: blue;
}

.flex {
  display: flex;
}

.title {
  padding: $column-width 0 32px $first-padding;
  height: 188px;
  width: 5 * $column-width;
  font-weight: 800;
  line-height: 94px;
  font-size: 104px;
  color: $color-base;
}

.text-intro {
  font-size: 24px;
  line-height: 32px;
  padding-left: $first-padding;
  width: 13 * $column-width;
}

.text {
  color: $color-base;
  font-size: 21px;
}

.accent {
  color: $color-accent;
}

.timeline {
  width: 100%;

  &__scale {
    height: 2px;

    &_miocene {
      width: 2873px;
      background-color: $color-accent;
    }

    &_pliocene {
      width: 2740px;
      background-color: #cb859d;
    }

    &_pleistocene {
      width: 2576px;
      background-color: #799ec9;
    }

    &_holocene {
      width: 20px;
      background-color: #8abf9f;
    }
  }

  &__tick {
    height: 10px;
    border-left: 1px solid $color-secondary;

    &:first-child {
      margin-left: $first-padding;
    }

    &_million {
      width: $timeline-million;
    }

    &_half-million {
      width: $timeline-half-million;
    }

    &_quarter-million {
      width: $timeline-quarter-million;
    }
  }

  &__label {
    font-size: 12px;
    color: $color-secondary;
    padding-bottom: 6px;

    &:first-child {
      margin-left: $first-padding - $timeline-label-displacement;
    }

    &_million {
      width: $timeline-million + $timeline-label-displacement;
    }

    &_half-million {
      width: $timeline-half-million + $timeline-label-displacement;
    }

    &_fractional {
      margin-left: -$timeline-fractional-label-displacement;
      width: $timeline-half-million + $timeline-fractional-label-displacement;
    }

    &_hundreds {
      margin-left: -$timeline-hundreds-label-displacement;
      width: $timeline-quarter-million + $timeline-hundreds-label-displacement;
    }
  }
}
