@import "webfonts";
@import "_reset";
@import "variables";
@import "../../node_modules/flexboxgrid-sass/flexboxgrid";

body {
  font-family: 'Fira Sans', 'Helvetica', sans-serif;
  font-weight: 300;
  overflow-y: hidden;
}

.page {
  width: $full-width;
  background-color: $color-dark;
  visibility: hidden;
  color: $color-base;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.half-top {
  width: 100%;
}

.half-bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Text styles */

.title {
  margin-top: $text-top-margin - 20px;
  font-weight: 800;
  line-height: 87px;
  font-size: $fontsize-h1;
}

.text-intro {
  margin-top: 30px;
  font-size: $fontsize-xl;
  line-height: $lineheight-basic;
}

.text {
  font-size: $fontsize-l;
  line-height: 1.381;
  margin-top: $text-top-margin;
  position: relative;
  z-index: 10;

  &_bottom {
    margin-top: 100px;
  }

  p + p {
    margin-top: 16px;
  }
}

.accent {
  color: $color-accent;
  font-weight: 500;
  white-space: nowrap;
}

.italic {
  font-style: italic;
}

/* Links */

@mixin link-style($color) {
  color: $color;
  border-bottom: 1px solid rgba($color, .3);
}

.link {
  @include link-style($color-link);
  transition: color .2s ease-in, border-color .15s ease-in;
  text-decoration: none;

  &:visited {
    @include link-style($color-link-visited);
  }

  &:hover {
    @include link-style($color-link-hover);
    transition-duration: 0s;
  }
}

.source {
  font-size: $fontsize-s;
  line-height: $lineheight-basic;
  display: inline-block;
  margin-top: 20px;

  &_short {
    max-width: 5 * $column-width + 18px;
  }

  &::before {
    content: "";
    display: block;
    background: url("../../img/source-link-icon.svg") no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    float: left;
    margin: -2px 6px 0 0;
  }
}

.comment {
  color: $color-secondary;
  font-size: $fontsize-m;
  line-height: $lineheight-basic;
  position: relative;
  z-index: 10;

  &_top {
    margin-top: $text-top-margin;
  }

  &_sub {
    margin-top: $column-width / 5 + 2px;
  }

  &_middle {
    padding-left: $column-width / 2;
    padding-right: $column-width / 2;
  }

  &__dot {
    color: #fff;
  }
}


/* Timeline */

.timeline {
  width: 100%;

  &__tick {
    height: $tick-height;
    border-left: 1px solid $color-secondary;

    &_half-million {
      width: $timeline-half-million;
    }
  }

  &__label {
    font-size: $fontsize-s;
    color: $color-secondary;
    padding-top: 3px;

    // negative margin for tick and label alignment
    &:first-child {
      margin-left: $first-padding - $timeline-label-displacement;
    }

    // fractional numbers and hundreds need different displacement value
    &_fractional {
      margin-left: -$timeline-fractional-label-displacement;
      width: $timeline-half-million + $timeline-fractional-label-displacement;
    }

    &_200-hundred {
      margin-left: -$timeline-hundreds-label-displacement;
      width: 4 * $column-width + $timeline-hundreds-label-displacement;
    }
  }
}

.africa {
  position: absolute;
  top: 27px;
  left: 1339px;
  z-index: 6;
  margin-bottom: 44px;

  .container {
    position: relative;
    width: 100%;
  }

  &__continent {
    height: calc(100vh - 71px);
    max-width: 608px;
    max-height: 647px;
  }

  &__chad {
    width: 100%;
    position: absolute;
    background: url('../../img/africa-tchad.svg') no-repeat;
    background-size: contain;
    top: 16%;
    left: 43.5%;
    height: 30%;
    max-width: 92px;
    max-height: 159px;
  }

  &__kenya {
    width: 100%;
    position: absolute;
    background: url('../../img/africa-kenya.svg') no-repeat;
    background-size: contain;
    top: 42%;
    left: 75%;
    height: 16%;
  }

  &__label {
    position: absolute;
    color: $color-base;
    font-size: 12px;

    &_chad {
      top: 28%;
      left: 49%;
    }

    &_kenya {
      top: 49%;
      left: 78%;
    }
  }
}

.sahelanthropus {
  position: absolute;
  bottom: 67px;
  left: 1032px;
  z-index: 1;
}

.ardi-woman {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 3022px;
  max-height: calc(100vh - 29px);
  margin-bottom: 29px;
}

.ardi-skeleton {
  position: absolute;
  z-index: 1;
  top: 169px;
  left: 3271px;
  max-height: calc(100vh - 46px - 169px);
  margin-bottom: 46px;
}

.australopithecus-couple {
  position: absolute;
  top: 162px;
  left: 4232px;
  max-height: calc(100vh - 30px - 162px);
  max-width: 302px;
  margin-bottom: 30px;
}

.hand-chopper {
  position: absolute;
  top: 0;
  left: 5266px;
  max-height: calc(100vh - 30px);
  margin-bottom: 30px;
}

.minimap {
  height: 40px;
  background-color: #444;
//TODO: hide side shodow between the intro & main parts
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.4);
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  &_intro {
    width: 16 * $column-width;
    display: flex;
  }

  &_main {
    width: 100vw;
  }

  &_fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  &__tick {
    height: $tick-height;
    border-left: $tick-width solid $color-secondary;
    z-index: 2;

    &_multicellular {
      margin-left: $first-padding;
      width: $minimap-intro-multicellular;
    }

    &_vertebrates {
      width: $minimap-intro-vertebrates;
    }

    &_mammal {
      width: $minimap-intro-mammal;
    }

    &_monkeys {
      width: $minimap-intro-monkeys;
    }

    &_anthropoid {
      width: $minimap-intro-anthropoid;
    }

    &_sahelantropus {
      margin-left: $minimap-main-sahelantropus-margin;
      width: $minimap-main-sahelantropus;
    }

    &_australopitecus {
      width: $minimap-main-australopitecus;
    }

    &_homo {
      width: $minimap-main-homo;
    }

    &_erectus {
      width: $minimap-main-erectus;
    }

    &_heidelbergensis {
      width: $minimap-main-heidelbergensis;
    }

    &_today {
      width: $minimap-main-today;
    }
  }

  &__label {
    margin-bottom: 2px;
    font-size: $fontsize-xs;
    color: $color-minimap;
    line-height: 12px;
    z-index: 2;

    &_multicellular {
      margin-left: $first-padding - $tick-width;
      width: $minimap-intro-multicellular;
    }

    &_vertebrates {
      width: $minimap-intro-vertebrates + $tick-width;
    }

    &_mammal {
      width: $minimap-intro-mammal + $tick-width;
    }

    &_monkeys {
      width: $minimap-intro-monkeys + $tick-width;
    }

    &_anthropoid {
      width: $minimap-intro-anthropoid + $tick-width;
    }

    &_sahelantropus {
      margin-left: calc(#{$minimap-main-sahelantropus-margin} - #{$tick-width});
      width: $minimap-main-sahelantropus;
    }

    &_australopitecus {
      width: calc(#{$minimap-main-australopitecus} + #{$tick-width});
    }

    &_homo {
      width: calc(#{$minimap-main-homo} + #{$tick-width});
    }

    &_erectus {
      width: calc(#{$minimap-main-erectus} + #{$tick-width});
    }

    &_heidelbergensis {
      width: calc(#{$minimap-main-heidelbergensis} + #{$tick-width});
    }

    &_today {
      width: calc(#{$minimap-main-today} + #{$tick-width});
      display: flex;
      align-items: flex-end;
    }
  }

  &__window {
    position: absolute;
    top: 0;
    border: 1px solid $color-minimap-window-border;
    background-color: $color-minimap-window;
    width: calc(100vw / 7);
    height: 40px;
    box-sizing: border-box;
    margin-left: 3.2%;
    z-index: 1;
  }
}

.homo-georgicus {
  display: flex;
  position: absolute;
  width: $column-width * 10;
  height: $column-width * 3;
  top: 0;
  left: $column-width * 5;

  &__text {
    width: $column-width * 7;

    & p + p {
      margin-top: 31px + $column-width / 5;
    }
  }

  &__skull {
    width: $column-width * 3;
  }
}

.species-tree {
  width: $full-width;
  margin-bottom: 28px;

  & > .row > div {
    position: relative;
  }

  &__branch {
    &::before {
      content: " ";
      position: absolute;
      left: -$column-width * 4;
      bottom: -$column-width * 2 + 1px;
      width: $column-width * 4;
      height: $column-width * 2 + 1px;
      background-origin: border-box;
      background: url('../../img/species-tree__branch.svg') no-repeat;
    }

    &_down::before {
      bottom: 0;
      background: url('../../img/species-tree__branch_down.svg') no-repeat;
    }

    &_reversed::before {
      bottom: -$column-width * 4 - 1px;
    }

    &_double::before {
      bottom: -$column-width * 4 + 1px;
      height: $column-width * 4 + 1px;
      background: url('../../img/species-tree__branch_double.svg') no-repeat;
    }
  }

  &__level {
    margin-bottom: 0;
    // We can probably reduce this height on small screens
    height:  $column-width;
    overflow-y: visible;

    &_zero {
      margin-bottom: 0;
    }

    &_top {
      margin-bottom: 2 * $column-width;
    }
  }

  &__circle {
    width: 5px;
    height: 5px;
    background: $color-species-tree-base;
    border-radius: 3px;
    z-index: 6;
    position: absolute;
    margin-top: -2px;
  }

  &__cross {
    position: absolute;
    width: 12px;
    height: 12px;
    color: $color-species-tree-base;
    right: -6px;
    bottom: -4px;
    z-index: 11;

    &:after {
      position: absolute;
      content: "×";
      font-size: 18px;
      line-height: 12px;
    }

    &_reversed {
      bottom: 0;
      top: -6px;
    }
  }

  &__line {
    width: 100%;
    height: $species-tree-line-height;
    background-color: $color-species-tree-secondary;
    z-index: 5;
    position: absolute;

    &_accent {
      background-color: $color-species-tree-base;
    }

    &_placeholder {
      position: absolute;
      bottom: 1px;
    }
  }

  &__name {
  font-size: $fontsize-m;
  line-height: $lineheight-basic;
  text-shadow: 0.5px 0.5px 1px $color-dark;

    &_latin {
      font-family: 'NocturneSerif-LightItalic', 'Times New Roman', serif;
      color: $color-secondary;
      font-style: italic;
      font-size: $fontsize-m;
      margin-bottom: 10px;
    }

    &_reversed {
      margin-top: 11px;
    }
  }

}
