$column-width: 50px;
//TODO: update it in final version - we should know full width - it's fixed!
$count-of-columns: 182;
$full-width: $count-of-columns * $column-width;
$first-padding: 2 * $column-width;

$grid-columns: $full-width / $column-width;
$gutter-width: 0;
$outer-margin: 0;

$text-top-margin: 50px;

$color-accent: #eca3a1;
$color-base: #fff;
$color-secondary: #aaa;
$color-link: #799ec9;
$color-link-visited: $color-link;
$color-link-hover: $color-accent;
$color-dark: #121212;
$color-minimap: #ddd;
$color-minimap-window: #6d5b5b;
$color-minimap-window-border: #c9869d;
$color-species-tree-base: #ddd;
$color-species-tree-secondary: #444;

$fontsize-h1: 102px;
$fontsize-xl: 24px;
$fontsize-l: 21px;
$fontsize-m: 15px;
$fontsize-s: 12px;
$fontsize-xs: 10px;
$lineheight-basic: 1.333333333;

$index-scheme-line: 10;
$index-scheme-ends: 11;
$index-text: 40;
$index-img-top: 30;
$index-sticker: 100;

$timeline-half-million: 10 * $column-width;
$timeline-label-displacement: 2px;
$timeline-fractional-label-displacement: 5px;
$timeline-hundreds-label-displacement: 6px;

$tick-width: 1px;
$tick-height: 6px;

// minimap intro scale positioning
$minimap-intro-multicellular: 143px;
$minimap-intro-vertebrates: 129px;
$minimap-intro-mammal: 169px;
$minimap-intro-monkeys: 115px;
$minimap-intro-anthropoid: 139px;

// minimap main scale positioning
$minimap-main-sahelantropus-margin: 4%;
$minimap-main-sahelantropus: 10%;
$minimap-main-australopitecus: 15%;
$minimap-main-homo: 15%;
$minimap-main-erectus: 10%;
$minimap-main-heidelbergensis: 35%;
$minimap-main-today: 10%;

$species-tree-line-height: 1px;
