$column-width: 50px;
//TODO: update it in final version - we should know full width - it's fixed!
$count-of-columns: 182;
$full-width: $count-of-columns * $column-width;
$first-padding: 2 * $column-width;

$grid-columns: $full-width / $column-width;
$gutter-width: 0;
$outer-margin: 0;

$color-accent: #eca3a1;
$color-base: #fff;
$color-secondary: #aaa;
$color-link: #799fca;
$color-dark: #121212;

$fontsize-h1: 102px;
$fontsize-xl: 24px;
$fontsize-l: 21px;
$fontsize-m: 15px;
$fontsize-s: 12px;

$timeline-half-million: 10 * $column-width;
$timeline-quarter-million: 5 * $column-width;
$timeline-label-displacement: 2px;
$timeline-fractional-label-displacement: 5px;
$timeline-hundreds-label-displacement: 6px;
